<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h2>送信が完了しました</h2>
        <span><%= link_to "Back", groups_path %></span>
    <table>
      <tr>
        <td>
          内容は以下の通りです
        </td>
      </tr>
      <tr>
        <td>
          [タイトル]
        </td>
      </tr>
      <tr>
        <th>
          <%= @group_mail.title %>
        </th>
      </tr>
      <tr>
        <td>
          [本文]
        </td>
      </tr>
      <tr>
        <th>
          <%= @group_mail.body %>
        </th>
    </table>
    </div>
  </div>
</div>