 <table class="table">
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Comments</th>
      <th>Rate</th>
    </tr>
     <%= render 'index', books: @new_index %>
  </table>